@import "tailwindcss";

:root {
  --color-primary: #059669;
  --color-primary-dark: #047857;
  --color-sidebar: #111827;
}

@layer base {
  html, body, #root {
    height: 100%;
  }
  body {
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  .material-symbols-rounded {
    font-family: "Material Symbols Rounded";
    font-style: normal;
    display: inline-block;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    user-select: none;
  }
}
